html {
    height: 100vh;
}

html, body {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.left-column {
    overflow-x: auto;
    overflow-y: auto;
}

.row, .content, .js-tabs__content {
    height: 100%;
    margin-bottom: 20px;
}

.container-fluid {
    flex: 1;
    margin-top: 15px;
}

footer {
    height: 6vh;
}

footer p {
    margin: auto;
}

.js-tabs {
    margin: 0px !important;
}

#sql_input_area {
    border: 1px solid #d5d5d5;
}

#submit_query_button {
    margin: 5px 0px;
}
