html,
body {
    height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.container-fluid {
    min-height: 100%;
    height: 100%;
}

.content {
    height:100%;
}

.row {
    height:100%;
}
