.main_container {
	margin: 15px 0;
	border: 1px solid black;
}

ul, .db_tree {
  list-style-type: none;
}

.db_name {
  cursor: pointer;
  user-select: none;
}

.db_name::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.db_name_opened::before {
	transform: rotate(90deg);
}