<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap end -->
    <!-- jQuery -->
    <script type="text/javascript" src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- jQuery end -->
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS end -->
    {% block head %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block body_scripts %}
{% endblock %}
</body>
<footer>
{% block footer %}
{% endblock %}
</footer>
</html>