{% extends "base.html" %}
{% block body %}
<div class="login-form">
    <form action="/login" method="post">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" name='db_user' class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" name='db_password' class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
        </div>        
    </form>
</div>
{% endblock %}                                                              