<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Simple Database Access Web Interface</title>
	<!-- jQuery -->
	<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/node_modules/jquery/dist/jquery.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Base css -->
	<link rel="stylesheet" type="text/css" href="/static/base.css">
	<!-- SlickGrid -->
	<link rel="stylesheet" href="/static/node_modules/slickgrid/slick.grid.css" type="text/css"/>
  	<link rel="stylesheet" href="/static/node_modules/slickgrid/css/smoothness/jquery-ui-1.11.3.custom.css" type="text/css"/>
</head>
<body>
	<div class="container-fluid">
		<div class="main_container">
			<div class="row">
				<div class="col-sm-4">
					<div class="left_column">
						<a href="/logout">Logout</a>
						<div class="db_tree">
							<ul class="db_list"></ul>
						</div>
					</div>
				</div>
				<div class="col-sm-8 db_info">
					<div id="myGrid" style="width:600px;height:500px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SlickGrid -->
<script src="/static/node_modules/slickgrid/lib/jquery-1.11.2.min.js"></script>
<script src="/static/node_modules/slickgrid/lib/jquery.event.drag-2.3.0.js"></script>
<script type="text/javascript" src="/static/node_modules/slickgrid/slick.core.js"></script>
<script type="text/javascript" src="/static/node_modules/slickgrid/slick.grid.js"></script>
<!-- Table view -->
<script type="text/javascript" src="/static/table_view/table_view.js"></script>
<!-- Data request -->
<script type="text/javascript" src="/static/data_request/data_request.js"></script>
<!-- jsTree -->
<script type="text/javascript" src="/static/tree/tree.js"></script>
<link rel="stylesheet" href="/static/node_modules/jstree/dist/themes/default/style.min.css" />
<script src="/static/node_modules/jstree/dist/jstree.min.js"></script>
<!-- Main JS file -->
<script type="text/javascript" src="/static/sdawi.js"></script>
</body>
</html>