<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Simple Database Access Web Interface</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/static/js/slickgrid/slick.grid.css" type="text/css"/>
  	<link rel="stylesheet" href="/static/js/slickgrid/css/smoothness/jquery-ui-1.11.3.custom.css" type="text/css"/>
	<link rel="stylesheet" href="/static/js/slickgrid/examples/examples.css" type="text/css"/>
</head>
<body>
	<div class="container-fluid">
		<div class="main_container">
			<div class="row">
				<div class="col-sm-4">
					<div class="left_column">
						<a href="/logout">Logout</a>
						<div class="db_tree">
							<ul class="db_list"></ul>
						</div>
					</div>
				</div>
				<div class="col-sm-8 db_info">
					<div id="myGrid" style="width:600px;height:500px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/static/js/slickgrid/lib/jquery-1.11.2.min.js"></script>
<script src="/static/js/slickgrid/lib/jquery.event.drag-2.3.0.js"></script>
<script type="text/javascript" src="/static/js/slickgrid/slick.core.js"></script>
<script type="text/javascript" src="/static/js/slickgrid/slick.grid.js"></script>
<script type="text/javascript" src="/static/js/table_view/table_view.js"></script>
<script type="text/javascript" src="/static/js/tree/tree.js"></script>
<script type="text/javascript" src="/static/js/data_request/data_request.js"></script>
<script type="text/javascript" src="/static/js/sdawi.js"></script>

</body>
</html>